<section class="property-main">
  <app-head title="Espacio propiedades"></app-head>
  <div class="property-section-head">
    <div class="property-section-head_buttons">
      <app-button
        label="Nuevo"
        background="#FFFFFF"
        (event)="openFormCreateProperty()"
      ></app-button>
    </div>
    <div class="property-section-head_search">
      <input
        class="property-input-search"
        (keyup)="applyFilter($event)"
        placeholder="Buscar..."
        #input
      />
      <div class="property-button-search">
        <mat-icon>search</mat-icon>
      </div>
    </div>
  </div>
  <div class="property-section-body">
    <div class="cpc-tableTitle">Tabla de propiedades</div>
    <table
      mat-table
      class="property-section-table"
      [dataSource]="dataSource"
      matSort
    >
      <ng-container matColumnDef="reference_number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Nro de Referencia
        </th>
        <td mat-cell *matCellDef="let row">{{ row.reference_number }}</td>
      </ng-container>

      <ng-container matColumnDef="property_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Nombre/Numeración
        </th>
        <td mat-cell *matCellDef="let row">{{ row.property_name }}</td>
      </ng-container>

      <ng-container matColumnDef="property_type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Tipo de Propiedad
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.property_type | property_type }}
        </td>
      </ng-container>

      <ng-container matColumnDef="province">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Provincia</th>
        <td mat-cell *matCellDef="let row">{{ row.province | province }}</td>
      </ng-container>

      <ng-container matColumnDef="availability_status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Disponibilidad
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.availability_status | availability_status }}
        </td>
      </ng-container>

      <ng-container matColumnDef="activity_status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Actividad</th>
        <td mat-cell *matCellDef="let row">
          {{ row.activity_status | activity_status }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
        <td mat-cell *matCellDef="let row">
          <div class="content-icons">
            <mat-icon ngClass="icons" (click)="openFormEditProperty(row)"
              >edit</mat-icon
            >
            <mat-icon
              ngClass="icons"
              (click)="
                deleteProperty(
                  row.id_property,
                  row.reference_number,
                  row.property_name
                )
              "
              >delete</mat-icon
            >
            <mat-icon
              ngClass="icons"
              (click)="
                archiveProperty(
                  row.id_property,
                  row.reference_number,
                  row.property_name
                )
              "
              >archive</mat-icon
            >
            <mat-icon
              ngClass="icons"
              (click)="openImageUploadDialog(row.id_property)"
              >image</mat-icon
            >
            <mat-icon
              ngClass="icons"
              (click)="openUploadInventory(row.id_property)"
              >inventory</mat-icon
            >
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No hay datos que coincidan con el filtro: "{{ input.value }}"
        </td>
      </tr>
    </table>
  </div>
</section>
