<section class="statistic-main">
  <app-head title="Espacio estadísticas"></app-head>
  <div class="statistic-section-head">
    <div class="statistic-section-head_buttons">
      <app-button
        label="Cobros"
        background="#FFFFFF"
        (event)="showModule(1)"
      ></app-button>
      <app-button label="Clientes" background="#FFFFFF" (event)="showModule(2)">
      </app-button>
      <app-button label="Reservas" background="#FFFFFF" (event)="showModule(3)">
      </app-button>
      <app-button
        label="Propiedades"
        background="#FFFFFF"
        (event)="showModule(4)"
      >
      </app-button>
    </div>
  </div>

  <div class="statistic-section-body">
    <div class="statistic-section-body_canvas" *ngIf="selectModule === 1">
      <canvas id="barChart"></canvas>
      <canvas id="topPaymentTypesChart"></canvas>
    </div>
    <div class="statistic-section-body_canvas" *ngIf="selectModule === 2">
      <canvas id="clientsByProvinceChart"></canvas>
      <canvas id="genderChart"></canvas>
      <canvas id="topClientChart"></canvas>
    </div>
    <div class="statistic-section-body_canvas" *ngIf="selectModule === 3">
      <canvas id="reservationChart"></canvas>
      <canvas id="polarChart"></canvas>
      <canvas id="originChart"></canvas>
      <canvas id="barByMonthChart"></canvas>
    </div>
    <div class="statistic-section-body_canvas" *ngIf="selectModule === 4">
      <canvas id="propertyChart"></canvas>
      <canvas id="provinceChart"></canvas>
    </div>
  </div>
</section>
