<h1>Estadísticas</h1>
<h2>Cobros</h2>
<canvas id="barChart"></canvas>
<canvas id="topPaymentTypesChart"></canvas>
<h2>Clientes</h2>
<canvas id="clientsByProvinceChart"></canvas>
<canvas id="genderChart"></canvas>
<canvas id="topClientChart"></canvas>
<h2>Reservas</h2>
<canvas id="reservationChart"></canvas>
<canvas id="polarChart"></canvas>
<canvas id="originChart"></canvas>
<canvas id="barByMonthChart"></canvas>
<h2>Propiedades</h2>
<canvas id="propertyChart"></canvas>
<canvas id="provinceChart"></canvas>
