<section class="statistic-main">
  <app-head title="Espacio estadísticas"></app-head>
  <div class="statistic-section-head">
    <div class="statistic-section-head_buttons">
      <app-button
        label="Cobros"
        background="#FFFFFF"
        (event)="showModule(1)"
      ></app-button>
      <app-button label="Clientes" background="#FFFFFF" (event)="showModule(2)">
      </app-button>
      <app-button label="Reservas" background="#FFFFFF" (event)="showModule(3)">
      </app-button>
      <app-button
        label="Propiedades"
        background="#FFFFFF"
        (event)="showModule(4)"
      >
      </app-button>
    </div>
  </div>

  <div class="statistic-section-body">
    <div class="statistic-section-body_canvas" *ngIf="selectModule === 1">
      <canvas id="barChart"></canvas>
      <button mat-icon-button (click)="downloadChart('barChart')">
        <mat-icon>download</mat-icon>
      </button>      
      <canvas id="topPaymentTypesChart"></canvas>
      <button mat-icon-button class="small-icon-button" (click)="downloadChart('topPaymentTypesChart')">
        <mat-icon>download</mat-icon>
      </button>  
    </div>
    <div class="statistic-section-body_canvas" *ngIf="selectModule === 2">
      <canvas id="clientsByProvinceChart"></canvas>
      <button mat-icon-button class="small-icon-button" (click)="downloadChart('clientsByProvinceChart')">
        <mat-icon>download</mat-icon>
      </button>  
      <canvas id="genderChart"></canvas>
      <button mat-icon-button class="small-icon-button" (click)="downloadChart('genderChart')">
        <mat-icon>download</mat-icon>
      </button>  
      <canvas id="topClientChart"></canvas>
      <button mat-icon-button class="small-icon-button" (click)="downloadChart('topClientChart')">
        <mat-icon>download</mat-icon>
      </button>  
    </div>
    <div class="statistic-section-body_canvas" *ngIf="selectModule === 3">
      <canvas id="reservationChart"></canvas>
      <button mat-icon-button class="small-icon-button" (click)="downloadChart('reservationChart')">
        <mat-icon>download</mat-icon>
      </button> 
      <canvas id="polarChart"></canvas>
      <button mat-icon-button class="small-icon-button" (click)="downloadChart('polarChart')">
        <mat-icon>download</mat-icon>
      </button> 
    </div>
    <div
      class="statistic-section-body_canvas mosaic"
      *ngIf="selectModule === 3"
    >
      <canvas id="originChart"></canvas>
      <button mat-icon-button class="small-icon-button" (click)="downloadChart('originChart')">
        <mat-icon>download</mat-icon>
      </button> 
      <canvas id="barByMonthChart"></canvas>
    </div>
    <div class="statistic-section-body_canvas" *ngIf="selectModule === 4">
      <canvas id="propertyChart"></canvas>
      <button mat-icon-button class="small-icon-button" (click)="downloadChart('propertyChart')">
        <mat-icon>download</mat-icon>
      </button> 
      <canvas id="provinceChart"></canvas>
      <button mat-icon-button class="small-icon-button" (click)="downloadChart('provinceChart')">
        <mat-icon>download</mat-icon>
      </button> 
    </div>
  </div>
</section>
