<section class="reservation-main">
  <div class="content-title-dialog">
    <span class="dialog-title">Reservas archivadas</span>
    <mat-icon ngClass="dialog-close" mat-dialog-close>close</mat-icon>
  </div>
  <mat-divider></mat-divider>
  <div class="reservation-section-head">
    <div class="reservation-section-head_search">
      <input
        class="reservation-input-search"
        (keyup)="applyFilter($event)"
        placeholder="Buscar..."
        #input
      />
      <div class="reservation-button-search">
        <mat-icon>search</mat-icon>
      </div>
    </div>
  </div>

  <div class="reservation-section-body">
    <div class="cpc-tableTitle">Tabla de reservas archivadas</div>
    <table
      mat-table
      class="reservation-section-table"
      [dataSource]="dataSource"
      matSort
    >
      <ng-container matColumnDef="booking_number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Nro de Reserva
        </th>
        <td mat-cell *matCellDef="let row">{{ row.booking_number }}</td>
      </ng-container>

      <ng-container matColumnDef="client">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
        <td mat-cell *matCellDef="let row">
          {{ (row.client | client).firstName }}
          {{ (row.client | client).lastName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="property">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Inmueble</th>
        <td mat-cell *matCellDef="let row">{{ row.property | property }}</td>
      </ng-container>

      <ng-container matColumnDef="check_in_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Check-in</th>
        <td mat-cell *matCellDef="let row">
          {{ row.check_in_date | date : "dd/MM/yyyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="check_out_date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Check-out</th>
        <td mat-cell *matCellDef="let row">
          {{ row.check_out_date | date : "dd/MM/yyyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
        <td mat-cell *matCellDef="let row">
          <div class="content-icons">
            <mat-icon
              ngClass="icons"
              (click)="
                deleteReservation(
                  row.id_booking,
                  row.booking_number,
                  row.check_in_date
                )
              "
              >delete</mat-icon
            >
            <mat-icon
              ngClass="icons"
              (click)="
                unarchiveReservation(
                  row.id_booking,
                  row.booking_number,
                  row.check_in_date
                )
              "
              >archive</mat-icon
            >
            <mat-icon
            ngClass="icons"
            (click)="viewDetails(row.id_booking)"
            >info
          </mat-icon>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell">
          No hay datos que coincidan con el filtro: {{ input.value }}
        </td>
      </tr>
    </table>
  </div>
</section>
