.aside-container {
  width: 250px;
  height: 100%;
  background: #f7f9fc;
  transition: 0.8s;
  overflow: hidden;

  position: fixed;
  margin-top: 66px;

}

.container-nav_title {
  font-size: 16px;
  color: #686868;
  padding-bottom: 8px;
}

.container-nav {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
}

.container-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}

.container-list_item {
  width: 100%;
  text-decoration: none;
}

.container-list_item:hover {
  background-color: #f4f5f7;
  border-radius: 99px;
}

.items-container {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 10px;
}

.items-container_icon {
  color: #858585;
}

.items-container img {
  width: 24px;
}

.items-container_name {
  font-size: 16px;
  margin: 0;
  color: #858585;
}

.active {
  background-color: #0d6efd;
  color: #fff;
  border-radius: 15px 0px 15px 0px;
}

.active:hover {
  background: #0d6efd;
  border-radius: 15px 0px 15px 0px;
}

.active .items-container_name {
  color: #fff;
}

.active .items-container_icon {
  color: #fff;
}
