.main-app {
  height: 100%;
  width: 100%;
}

.main-container {
  width: 100%;
  /* height: calc(100vh - 65px); */
  min-height: 100%;
  display: flex;
  background: #f7f9fc;
  /* margin-top: 10%; */
}

.main-content {
  width: 100%;
  padding: 30px;
  border-radius: 15px 0px 0px 0px;
  border: 1px solid #dadada;
  background: #ffffff;
  margin-left: 250px;
  min-height: calc(100vh - 65px);
  margin-top: 65px;
}

/* #toggle{
  margin-left: 250px;
} */
