<div class="wrapper-dialog">
  <div class="content-title-dialog">
    <span class="dialog-title">Imágenes de Propiedad</span>
    <mat-icon ngClass="dialog-close" mat-dialog-close>close</mat-icon>
  </div>
  <mat-divider></mat-divider>
  <div class="content-form-dialog">
    <label for="images" class="drop-container">
      <span class="drop-title">Subir imágenes aqui</span>
      <input
        id="images"
        type="file"
        (change)="onFilesInputChange($event)"
        accept="image/*"
        multiple
        class="input-file"
      />
    </label>
    <p class="inventory_title">Para subir (Minímo 3 imágenes)</p>
    <div class="image-container">
      <div *ngIf="!selectedImages">No hay elementos para subir.</div>
      <div
        class="image-content"
        *ngFor="let file of selectedImages; let i = index"
      >
        <img [src]="file?.imageUrl" alt="image" class="image" />
        <button (click)="removeFile(i)" class="delete-icon">
          <i class="material-icons">delete</i>
        </button>
      </div>
    </div>
    <br />
    <mat-divider></mat-divider>
    <br />
    <p class="inventory_title">Subidas</p>
    <div class="image-container">
      <div class="image-content" *ngFor="let image of images; let i = index">
        <ng-container *ngIf="currentImageIndex === i">
          <img [src]="getImageUrl(image.filename)" alt="Image" class="image" [@fadeInOut] />
          <button (click)="deleteImage(image.id)" class="delete-icon">
            <i class="material-icons">delete</i>
          </button>
        </ng-container>
      </div>
    </div>
    <div class="image-navigation">
      <button (click)="previousImage()" [disabled]="currentImageIndex === 0" class="navigation-button">
        Anterior
      </button>
      <button (click)="nextImage()" [disabled]="currentImageIndex === images.length - 1" class="navigation-button">
        Siguiente
      </button>
    </div>
    </div>
  <mat-divider></mat-divider>
  <div class="content-footer-dialog">
    <button mat-stroked-button mat-dialog-close color="warn">Cerrar</button>
    <button
      mat-stroked-button
      color="basic"
      (click)="uploadImages()"
      [disabled]="isUploadButtonDisabled"
    >
      Subir
    </button>
  </div>
</div>
