.mat-card {
  background-color: #1bb5db; /* Color de fondo personalizado */
}

.card-container {
  background-color: #f2f2f2; /* Color de fondo de la MatCard */
  padding: 20px; /* Ajusta el espaciado según sea necesario */
}

.card-container h2 {
  color: #ffffff; /* Color del texto del título */
  background-color: #333333; /* Color de fondo del título */
  padding: 10px; /* Ajusta el espaciado según sea necesario */
  margin-bottom: 20px; /* Ajusta el margen inferior según sea necesario */
}
