<h1 style="padding: 10px;">Cobros</h1>
<div class="container-table">
  <div class="container-table-head">
    <button mat-raised-button color="link" (click)="openReservations()">Ver Reservas</button>
    <mat-form-field appearance="outline">
      <mat-label>Buscar cobro</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar..." #input>
      <div matSuffix mat-icon-button>
        <mat-icon>search</mat-icon>
      </div>
    </mat-form-field>
  </div>
  <div class="mat-elevation-z1">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container  matColumnDef="payment_number">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nro de Cobro </th>
          <td mat-cell *matCellDef="let row"> {{row.payment_number}} </td>
      </ng-container>

      <ng-container matColumnDef="booking">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nro de Reserva </th>
        <td mat-cell *matCellDef="let row"> {{row.booking | booking}} </td>
      </ng-container>

      <ng-container matColumnDef="property">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Inmueble </th>
        <td mat-cell *matCellDef="let row"> {{row.property | property}} </td>
      </ng-container>

      <ng-container matColumnDef="client">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
        <td mat-cell *matCellDef="let row"> 
          {{ (row.client | client).firstName}} 
          {{ (row.client | client).lastName}}
        </td>
      </ng-container>

      <ng-container matColumnDef="payment_amount_total">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto </th>
        <td mat-cell *matCellDef="let row"> {{row.payment_amount_total | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="payment_status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado</th>
        <td mat-cell *matCellDef="let row"> {{row.payment_status | payment_status}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="basic" (click)="openFormEditPayment(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deletePayment(row.id_payment, row.payment_number, row.payment_amount_total)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="basic" (click)="archivePayment(row.id_payment, row.payment_number, row.payment_amount_total)">
            <mat-icon>archive</mat-icon>
          </button>
          <button mat-icon-button color="basic" (click)="generatePdfPayment(row.id_payment)">
            <mat-icon>print icon</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef=" displayedColumns">
      </tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No hay datos que coincidan con el filtro: "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </div>
</div>
