<div class="wrapper-dialog">
  <div class="content-title-dialog">
    <span class="dialog-title">Notas</span>
    <mat-icon ngClass="dialog-close" mat-dialog-close>close</mat-icon>
  </div>
  <mat-divider></mat-divider>
  <div class="content-body-dialog">
    <div class="form-notes">
      <form [formGroup]="noteForm" autocomplete="off" novalidate>
        <mat-form-field appearance="outline" style="width: 100%">
          <textarea
            matInput
            matTextareaAutosize
            placeholder="Ingresa una nueva nota"
            rows="5"
            style="resize: none"
            formControlName="nota"
          ></textarea>
          <mat-hint align="end">Campo requerido</mat-hint>
          <mat-error align=" end" *ngIf="hasError('nota', 'required')">
            <strong>Campo requerido</strong>
          </mat-error>
        </mat-form-field>
      </form>

      <div class="form-buttons-dialog">
        <button mat-stroked-button mat-dialog-close color="warn">
          Cancelar
        </button>
        <button
          [disabled]="noteForm.invalid"
          mat-stroked-button
          color="basic"
          (click)="addNote()"
        >
          Agregar
        </button>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="content-footer-dialog">
    <div *ngIf="notes && notes.length === 0">No hay notas registradas</div>
    <div *ngFor="let note of notes" class="notes">
      <p>{{ note.nota }}</p>
      <button (click)="deleteNote(note.id)" class="delete-icon">
        <i class="material-icons">delete</i>
      </button>
    </div>
  </div>
</div>
