<!-- <div class="card-container" *ngIf="showNotes">
  <h2></h2>

<div class="card-container" *ngIf="showNotes">
  <h2>Notas/Recordatorios</h2>


  <div *ngFor="let note of notes; let i = index">
    <mat-card class="mat-elevation-z4">
      <mat-card-content>
        <p>{{ note.nota }}</p>
        <button mat-button class="mat-primary" mat-button-hover (click)="editNote(i)">Editar</button>
        <button mat-button class="mat-accent" mat-button-hover (click)="deleteNote(i)">Eliminar</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>


-->
<div class="wrapper-dialog">
  <div class="content-title-dialog">
    <span class="dialog-title">Notas/Recordatorios</span>
    <mat-icon ngClass="dialog-close" mat-dialog-close>close</mat-icon>
  </div>
  <mat-divider></mat-divider>
  <div class="content-body-dialog">
    <mat-form-field appearance="outline">
      <textarea matInput matTextareaAutosize></textarea>
    </mat-form-field>
  </div>
  <div class="content-footer-dialog"></div>
</div>

<button mat-raised-button (click)="addNote()">Agregar Nota</button>

<button mat-raised-button (click)="toggleNotesContainer()">
  Mostrar/ocultar notas
</button>
