<section class="section">
  <div class="icon-container">
    <img src="https://cdn-icons-png.flaticon.com/512/2250/2250206.png" alt="" srcset="">
  </div>
  <div class="message-container">
    <h2 class="title">Revisa su correo electrónico</h2>
    <p  class="message">Hemos enviado instrucciones de recuperación de contraseña a su correo electrónico</p>
  </div>

  <div class="section__div">
    <a routerLink="/auth/login" class="section__div--a" (click)="BackLogin()"> Volver</a>
  </div>

  <footer class="footer">
    <p>¿No recibiste nuestro correo? verifica en la carpeta de spam.</p>
  </footer>

</section>