<nav class="navbar-container">
  <div class="navbar-container_logo">
    <button mat-icon-button (click)="toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <h3>Anahi apartamentos</h3>
  </div>
  <div class="navbar-container_profile">
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <img
        src="https://cdn-icons-png.flaticon.com/512/309/309492.png?w=826&t=st=1687812174~exp=1687812774~hmac=f73f4b0ab1445e01e6e322385fbf2a79e459a23d0ab9a22b8c594f099545d1c4"
      />
    </button>
    <mat-menu #menu="matMenu">
      <div class="container-account">
        <span class="container-account_title">Cuenta</span>
        <div class="container-account_user">
          <img
            src="https://cdn-icons-png.flaticon.com/512/309/309492.png?w=826&t=st=1687812174~exp=1687812774~hmac=f73f4b0ab1445e01e6e322385fbf2a79e459a23d0ab9a22b8c594f099545d1c4"
          />
          <span class="container-account_username">{{ username }} </span>
        </div>
      </div>
      <button
        mat-menu-item
        class="container-account-items"
        (click)="goToWebPage()"
      >
        <mat-icon class="container-account-items_icons">open_in_new</mat-icon>
        <span class="container-account-items_name">Ingresar a la web</span>
      </button>
      <button mat-menu-item class="container-account-items" (click)="logOut()">
        <mat-icon class="container-account-items_icons"
          >power_settings_new</mat-icon
        >
        <span class="container-account-items_name">Cerrar sesión</span>
      </button>
    </mat-menu>
  </div>
</nav>
