.wrapper-dialog {
  height: 100%;
  max-width: 100%;
  margin: 16px;
}

.content-title-dialog {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}

.content-footer-dialog {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 0px;
  gap: 20px;
}

.dialog-title {
  font-size: 25px;
}

.dialog-close {
  cursor: pointer;
}

.content-form-dialog {
  width: 100%;
  padding: 20px 0px;
}

mat-form-field {
  width: 100%;
  padding: 10px;
}

.my-swal-class .swal-button--confirm {
  background-color: green;
  border-color: green;
}
.input-container {
  position: relative;
}

.icon-button {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  color: #898989;
  display: flex;
  gap: 10px;
}
