<div mat-dialog-title>
    <h1>{{actionTitle}}</h1>
    <button mat-icon-button mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
</div>
<mat-divider></mat-divider>
<div mat-dialog-content>
    <mat-grid-list cols="2" rowHeight="2:0.5" gutterSize="15px">
        <form [formGroup]="paymentForm" autocomplete="off" novalidate>
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Número de Cobro</mat-label>
                    <input formControlName="payment_number" matInput placeholder="" type="number" readonly>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Fecha de Cobro</mat-label>
                    <input formControlName="createdAt" matInput placeholder="" type="text" readonly>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Número de Reserva</mat-label>
                    <input formControlName="booking" matInput placeholder="" type="number">
                    <mat-hint align="end">Campo requerido</mat-hint>
                    <mat-error align=" end" *ngIf="hasError('booking','required')">
                        <strong>Campo requerido</strong>
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>


            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Cliente</mat-label>
                    <mat-select formControlName="client" placeholder="Seleccione...">
                        <mat-option *ngFor="let client of clients" [value]="client.id_client">
                            {{client.name}} {{client.last_name}}</mat-option>
                    </mat-select>
                    <mat-hint align="end">Campo requerido</mat-hint>
                    <mat-error align=" end" *ngIf="hasError('client','required')">
                        <strong>Campo requerido</strong>
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>


            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Propiedad</mat-label>
                    <mat-select formControlName="property" placeholder="Seleccione...">
                        <mat-option *ngFor="let property of properties" [value]="property.id_property">
                            {{property.property_name}}</mat-option>
                    </mat-select>
                    <mat-hint align="end">Campo requerido</mat-hint>
                    <mat-error align=" end" *ngIf="hasError('property','required')">
                        <strong>Campo requerido</strong>
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Fecha de Llegada</mat-label>
                    <input formControlName="check_in_date" matInput [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker></mat-datepicker>
                    <mat-hint align="end">Campo requerido</mat-hint>
                        <mat-error align=" end" *ngIf="hasError('check_in_date','required')">
                            <strong>Campo requerido</strong>
                        </mat-error>
                  </mat-form-field>
            </mat-grid-tile>
            
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Fecha de Salida</mat-label>
                    <input formControlName="check_out_date" matInput [matDatepicker]="picker2">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker2></mat-datepicker>
                    <mat-hint align="end">Campo requerido</mat-hint>
                        <mat-error align=" end" *ngIf="hasError('check_out_date','required')">
                            <strong>Campo requerido</strong>
                        </mat-error>
                  </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Precio Inicial</mat-label>
                    <input formControlName="booking_starting_price" 
                    matInput placeholder="" type="text" readonly
                    currencyMask [options]="{ prefix: '$ ', thousands: '.', decimal: ',', align: 'left'}">
                    <mat-hint align="end">Campo requerido</mat-hint>
                    <mat-error align=" end" *ngIf="hasError('booking_starting_price','required')">
                        <strong>Campo requerido</strong>
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Descuento de Reserva</mat-label>
                    <input formControlName="booking_discount" 
                    matInput placeholder="" 
                    type="text" readonly
                    currencyMask [options]="{ prefix: '% ', thousands: '.', decimal: ',', align: 'left'}">
                </mat-form-field>
                <mat-error align="end" *ngIf="hasError('booking_discount','min')"><strong>Mínimo 0 como valor</strong>
                </mat-error>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Monto de Seña</mat-label>
                    <input formControlName="deposit_amount" 
                    matInput placeholder="" 
                    type="text" readonly
                    currencyMask [options]="{ prefix: '$ ', thousands: '.', decimal: ',', align: 'left'}">
                    <mat-hint align="end">Campo requerido</mat-hint>
                    <mat-error align=" end" *ngIf="hasError('deposit_amount','required')">
                        <strong>Campo requerido</strong>
                    </mat-error>
                    <mat-error align="end" *ngIf="hasError('deposit_amount','min')"><strong>Mínimo 10.000 como monto de reserva</strong>
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>

             <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Monto de Reserva</mat-label>
                    <input formControlName="booking_amount" 
                    matInput placeholder="" type="text" readonly
                    currencyMask [options]="{ prefix: '$ ', thousands: '.', decimal: ',', align: 'left'}">
                    <mat-hint align="end">Campo requerido</mat-hint>
                    <mat-error align=" end" *ngIf="hasError('booking_amount','required')">
                        <strong>Campo requerido</strong>
                    </mat-error>
                    <mat-error align="end" *ngIf="hasError('booking_amount','min')"><strong>Mínimo 10.000 como monto de reserva</strong>
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Gastos Extras</mat-label>
                    <input formControlName="extra_expenses" 
                    matInput 
                    placeholder="Ingrese monto..." type="text"
                    currencyMask [options]="{ prefix: '$ ', thousands: '.', decimal: ',', align: 'left'}">
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Subtotal</mat-label>
                    <input formControlName="payment_amount_subtotal" 
                    matInput placeholder="" 
                    type="text" 
                    readonly
                    currencyMask [options]="{ prefix: '$ ', thousands: '.', decimal: ',', align: 'left'}">
                    <mat-hint align="end">Campo requerido</mat-hint>
                    <mat-error align=" end" *ngIf="hasError('payment_amount_subtotal','required')">
                        <strong>Campo requerido</strong>
                    </mat-error>
                    <mat-error align="end" *ngIf="hasError('payment_amount_subtotal','min')"><strong>Mínimo 0 como valor</strong>
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Total</mat-label>
                    <input 
                    formControlName="payment_amount_total" 
                    matInput placeholder="" 
                    type="text"  
                    readonly
                    currencyMask [options]="{ prefix: '$ ', thousands: '.', decimal: ',', align: 'left'}">
                    <mat-hint align="end">Campo requerido</mat-hint>
                    <mat-error align=" end" *ngIf="hasError('payment_amount_total','required')">
                        <strong>Campo requerido</strong>
                    </mat-error>
                    <mat-error align="end" *ngIf="hasError('payment_amount_total','min')"><strong>Mínimo 0 como valor</strong>
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Forma de Pago</mat-label>
                    <mat-select formControlName="payment_type" placeholder="Seleccione...">
                        <mat-option *ngFor="let payment_type of payment_types" [value]="payment_type.id">
                            {{payment_type.payment_type_name}}</mat-option>
                    </mat-select>
                    <mat-hint align="end">Campo requerido</mat-hint>
                    <mat-error align=" end" *ngIf="hasError('payment_type','required')">
                        <strong>Campo requerido</strong>
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Estado de Pago</mat-label>
                    <mat-select formControlName="payment_status" placeholder="Seleccione...">
                        <mat-option *ngFor="let payment_status of payment_statuses" [value]="payment_status.id_payment_status">
                            {{payment_status.payment_status_name}}</mat-option>
                    </mat-select>
                    <mat-hint align="end">Campo requerido</mat-hint>
                    <mat-error align=" end" *ngIf="hasError('payment_status','required')">
                        <strong>Campo requerido</strong>
                    </mat-error>
                </mat-form-field>
            </mat-grid-tile>

        </form>

    </mat-grid-list>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions align="end">
    <button mat-stroked-button mat-dialog-close color="warn">Cerrar</button>
    <button mat-stroked-button color="basic" [disabled]="paymentForm.invalid"
        (click)="sendPayment()">{{actionButton}}</button>
</div>


<swal #createAlert
    [swalOptions]="{ toast: true, position: 'top',width: 500,showConfirmButton: false,timer: 1800,icon: 'success',title: 'Se registro correctamente'}">
</swal>

<swal #updateAlert
    [swalOptions]="{ toast: true, position: 'top',width: 500,showConfirmButton: false,timer: 1800,icon: 'success',title: 'Se modifico correctamente'}">
</swal>

<swal #errorAlert
    [swalOptions]="{ toast: true,position: 'top',width: 500,showConfirmButton: false,timer: 1800,icon: 'warning',title: 'Ha ocurrido un problema'}">
</swal>