<section class="section">
  <h2 class="section__h2">Recuperación de contraseña</h2>
  <form [formGroup]="formForgotPassword" class="form">
    <div class="form__div">
      <mat-label ngClass="form__label">Correo electrónico</mat-label>
      <mat-form-field appearance="outline">
        <input
          matInput
          placeholder="Ingrese su correo electrónico"
          formControlName="email"
          type="email"
          required
        />
        <mat-error ngClass="form__alert" *ngIf="hasError('email', 'required')"
          >Campo requerido</mat-error
        >
        <mat-error
          ngClass="form__alert"
          *ngIf="hasError('email', 'email') || hasError('email', 'pattern')"
          >Correo electrónico inválido</mat-error
        >
      </mat-form-field>

      <button
        [ngClass]="'form__button'"
        type="submit"
        color="primary"
        mat-flat-button
        [disabled]="formForgotPassword.invalid"
      >
        Enviar solicitud
      </button>
    </div>
  </form>
  <div class="section__div">
    <a routerLink="/auth/login" class="section__div--a"> Iniciar sesión </a>
  </div>
</section>
