<section class="payment-main">
  <div class="content-title-dialog">
    <span class="dialog-title">Cobro archivados</span>
    <mat-icon ngClass="dialog-close" mat-dialog-close>close</mat-icon>
  </div>
  <mat-divider></mat-divider>
  <div class="payment-section-head">
    <div class="payment-section-head_search">
      <input
        class="payment-input-search"
        (keyup)="applyFilter($event)"
        placeholder="Buscar..."
        #input
      />
      <div class="payment-button-search">
        <mat-icon>search</mat-icon>
      </div>
    </div>
  </div>

  <div class="payment-section-body">
    <div class="cpc-tableTitle">Tabla de cobros archivadas</div>
    <table
      mat-table
      class="payment-section-table"
      [dataSource]="dataSource"
      matSort
    >
      <ng-container matColumnDef="payment_number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nro. Cobro</th>
        <td mat-cell *matCellDef="let row">{{ row.payment_number }}</td>
      </ng-container>

      <ng-container matColumnDef="booking">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nro. Reserva</th>
        <td mat-cell *matCellDef="let row">{{ row.booking | booking }}</td>
      </ng-container>

      <ng-container matColumnDef="property">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Inmueble</th>
        <td mat-cell *matCellDef="let row">{{ row.property | property }}</td>
      </ng-container>

      <ng-container matColumnDef="client">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
        <td mat-cell *matCellDef="let row">
          {{ (row.client | client).firstName }}
          {{ (row.client | client).lastName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="booking_starting_price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Monto</th>
        <td mat-cell *matCellDef="let row">
          {{ (row.booking_starting_price - (row.booking_starting_price * (row.booking_discount/100))) | currency }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
        <td mat-cell *matCellDef="let row">
          <div class="content-icons">
            <mat-icon
              ngClass="icons"
              (click)="
                deletePayment(
                  row.id_payment,
                  row.payment_number,
                  row.payment_amount_total
                )
              "
              >delete</mat-icon
            >
            <mat-icon
              ngClass="icons"
              (click)="
                unarchivePayment(
                  row.id_payment,
                  row.payment_number,
                  row.payment_amount_total
                )
              "
              >archive</mat-icon
            >
            <mat-icon ngClass="icons" (click)="viewDetails(row.id_payment)"
              >info
            </mat-icon>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell">
          No hay datos que coincidan con el filtro: {{ input.value }}
        </td>
      </tr>
    </table>
  </div>
</section>
