.client-main {
  height: 100%;
  padding: 20px;
}
.content-title-dialog {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}
.dialog-title {
  font-size: 25px;
}

.dialog-close {
  cursor: pointer;
}

.client-section-head {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
  align-items: center;
}

.client-section-head_search {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.client-input-search {
  height: 50px;
  width: 100%;
  font-size: 15px;
  padding: 0px 20px;
  color: #000000;
  background: #fafbfc;
  border: 2px solid #dfe1e6;
  border-radius: 5px;
  outline: none;
}

.client-button-search {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 100%;
  border: none;
  background: none;
  cursor: pointer;
  color: #898989;
}

.client-section-body {
  padding: 30px 10px;
}

.client-section-table {
  table-layout: auto;
  width: 100%;
}

tr {
  display: flex;
  align-items: center;
  height: 42px !important;
}

th {
  text-align: left;
  padding: 8px;
  flex: 1;
  font-size: 15px;
  color: #898989;
}

td {
  display: flex;
  align-items: center;
  height: 100%;
}

.content-icons {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.icons {
  color: #898989;
  font-size: 18px;
  cursor: pointer;
}

td {
  text-align: left;
  padding: 8px;
  flex: 1;
}

.cpc-tableTitle {
  font-size: 16px;
  color: #898989;
}

.mat-row {
  width: 100%;
}

.mat-cell {
  width: 100% !important;
}
