#calendar {
  width: 100%;
  height: 100%;
}

.custom-button {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  /* Estilos 3D */
  border: none;
  border-radius: 999px;
  
  /* Estilos de gradiente en hover */
  background-color: #0d6efd;
  
  /* Otros estilos */
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 999;
}


/* CUSTOM BUTTONS */
.fc-button-group button{
  background-color: yellow !important;
}


